<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1"></meta>
	
		<title>Tasa</title>
	
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
												
			<form th:action="@{/tasa/registrar}" method="post" th:object="${tasa}" enctype="multipart/form-data">
			
				<div class="form-group">
					
					<label for="idTasa">C&OacuteDIGO:</label> 
					<input type="text" class="form-control" th:field="*{idTasa}"></input>

					<div class="form-group">
						
						<label for="tipoTasa">Tipo de Tasa:</label> 
						<input type="text" th:field="*{tipoTasa}" class="form-control" id="tipoTasa"></input>
						
						
					</div>

				</div>

				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/tasa/listar" class="btn btn-danger">Cancelar</a>

			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>